.container{
  height: fit-content;
  
}
section {
  height: 100vh;
  width: 100vw;
}
.fourth{
  height: fit-content;
}
@media screen and (max-width: 700px) {
  .third {
    height: fit-content;
  }
  .fourth{
    height: fit-content;
  }
  .container{
    width:min-content;
  }
  
}
